.tiptap {
    @apply focus:outline-none;
    
    :first-child {
        @apply mt-0;
    }

    .has-focus {
        @apply rounded-lg outline-1 outline-offset-2 outline-zinc-800;
    }

    figure {
        @apply mb-8;
        figcaption {
            @apply mt-2 text-sm text-red-500;
        }
    }

    ul,
    ol {
        @apply mb-8;
        // margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            @apply m-0;
        }
    }

    /* Table-specific styling */
    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            // border: 1px solid var(--gray-3);
            // box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            >* {
                margin-bottom: 0;
            }
        }

        th {
            // background-color: var(--gray-1);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            @apply bg-blue-500/15;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            @apply bg-blue-500/50 w-1.5 absolute z-10 inset-y-0 -right-0.5;
            pointer-events: none;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    .is-editor-empty:first-child::before {
        @apply text-zinc-500;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    .is-empty::before {
        @apply text-zinc-500;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    code {
        @apply bg-zinc-200 dark:bg-zinc-900 text-black dark:text-white rounded-md px-2 py-1;
    }

    pre {
        @apply bg-zinc-200 dark:bg-zinc-900 rounded-md;
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            @apply text-black dark:text-white;
        }
    }

    mark {
        @apply bg-blue-300 dark:bg-blue-900/50 text-black dark:text-white;
        box-decoration-break: clone;
    }
}

/* .tiptap {
    @apply focus:outline-none;
    :first-child {
      @apply p-0 mt-0;
    }

    .has-focus {
        @apply rounded-lg outline-1 outline-offset-2 outline-zinc-800;
    }
} */

/* .tiptap table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}

.tiptap table td,
.tiptap table th {
    @apply relative border;
}

.tiptap table td>*,
.tiptap table th>* {
    @apply mb-0;
}

.tiptap table th {
    @apply dark:bg-zinc-900/50 font-medium text-white;
} */

/* .tiptap table .selectedCell:after {
    @apply bg-blue-500/15;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.tiptap table .column-resize-handle {
    @apply bg-blue-500/50 w-1.5 absolute z-10 inset-y-0 -right-0.5;
    pointer-events: none;
}

.tiptap .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
}

.tiptap.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
} */

/* .tiptap ul,
.tiptap ol {
    @apply ps-8 mb-0
}

.tiptap ul {
    @apply list-disc;
}
.tiptap ol {
    @apply list-decimal;
}

.tiptap ul li p,
.tiptap ol li p {
    @apply mb-0;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6,
.tiptap p {
    @apply mb-0 p-0;
}

.tiptap h1 {
    @apply text-4xl;
}

.tiptap h2 {
    @apply text-3xl;
}

.tiptap h3 {
    @apply text-2xl;
}

.tiptap h4 {
    @apply text-xl;
}

.tiptap h5 {
    @apply text-lg;
}

.tiptap h6 {
    @apply text-base;
}

.tiptap p.is-editor-empty:first-child::before {
    @apply text-zinc-500;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap a {
    @apply text-blue-800 dark:text-blue-400 underline;
    cursor: pointer;

    &:hover {
        @apply text-blue-700 dark:text-blue-500;
    }
}

.tiptap code {
    @apply bg-zinc-300 dark:bg-zinc-800 text-black dark:text-zinc-300 rounded;
}

.tiptap pre {
    @apply bg-zinc-800;
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
}

.tiptap pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
}

.tiptap blockquote {
    @apply border-s-2 border-zinc-800 px-4 py-4;
}

.tiptap mark {
    @apply bg-blue-900/50 text-white rounded;
    box-decoration-break: clone;
}

.tiptap hr {
    @apply border-zinc-800;
}

.tiptap table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}

.tiptap table td,
.tiptap table th {
    @apply relative border border-zinc-800 px-2 py-1;
}

.tiptap table td>*,
.tiptap table th>* {
    @apply mb-0;
}

.tiptap table th {
    @apply bg-zinc-900 font-medium text-white;
}

.tiptap table .selectedCell:after {
    @apply bg-blue-500/15;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.tiptap table .column-resize-handle {
    @apply bg-blue-500/50 w-1.5 absolute z-10 inset-y-0 -right-0.5;
    pointer-events: none;
}

.tiptap .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
}

.tiptap.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

@media (max-width: 768px) {
    .tiptap-preview img {
        width: 100% !important;
    }

    .tiptap-preview figcaption {
        width: 100% !important;
    }
} */