.tiptap-preview {
    @apply focus:outline-none;
    :first-child {
      @apply p-0 mt-0;
    }

    .has-focus {
        @apply rounded-lg outline-1 outline-offset-2 outline-zinc-700;
    }
}

.tiptap-preview ul,
.tiptap-preview ol {
    @apply ps-8 mb-0
}

.tiptap-preview ul {
    @apply list-disc;
}
.tiptap-preview ol {
    @apply list-decimal;
}

.tiptap-preview ul li p,
.tiptap-preview ol li p {
    @apply mb-0;
}

.tiptap-preview h1,
.tiptap-preview h2,
.tiptap-preview h3,
.tiptap-preview h4,
.tiptap-preview h5,
.tiptap-preview h6,
.tiptap-preview p {
    @apply mb-0 p-0;
}

.tiptap-preview h1 {
    @apply text-4xl;
}

.tiptap-preview h2 {
    @apply text-3xl;
}

.tiptap-preview h3 {
    @apply text-2xl;
}

.tiptap-preview h4 {
    @apply text-xl;
}

.tiptap-preview h5 {
    @apply text-lg;
}

.tiptap-preview h6 {
    @apply text-base;
}

.tiptap-preview p.is-editor-empty:first-child::before {
    @apply text-zinc-500;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap-preview a {
    @apply text-blue-400 underline;
    cursor: pointer;

    &:hover {
        @apply text-blue-500;
    }
}

.tiptap-preview code {
    @apply bg-zinc-800 text-zinc-300 rounded;
}

.tiptap-preview pre {
    @apply bg-zinc-800;
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
}

.tiptap-preview pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
}

.tiptap-preview blockquote {
    @apply border-s-2 border-zinc-800 px-4 py-4;
}

.tiptap-preview mark {
    @apply bg-blue-900/50 text-white rounded;
    box-decoration-break: clone;
}

.tiptap-preview hr {
    @apply border-zinc-800;
}

/* Table-specific styling */
.tiptap-preview table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}

.tiptap-preview table td,
.tiptap-preview table th {
    @apply relative border border-zinc-800 px-2 py-1;
}

.tiptap-preview table td>*,
.tiptap-preview table th>* {
    @apply mb-0;
}

.tiptap-preview table th {
    @apply bg-zinc-900 font-medium text-white;
}

.tiptap-preview table .selectedCell:after {
    @apply bg-blue-500/15;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.tiptap-preview table .column-resize-handle {
    @apply bg-blue-500/50 w-1.5 absolute z-10 inset-y-0 -right-0.5;
    pointer-events: none;
}

.tiptap-preview .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
}

.tiptap-preview.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

@media (max-width: 768px) {
    .tiptap-preview img {
        width: 100% !important;
    }

    .tiptap-preview figcaption {
        width: 100% !important;
    }
}